
.BigMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75%;
    width:50%;
}
  
.SmallMenu{           
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
  width:95%;
}

.MenuElement{
  width: 40%;
  height: 33%;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuElementPhone{
  width: 47%;
  height: 33%;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.subMenuName{
    position: absolute;
    height:4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    font-family: "Hezaedrus-regular";

}
.subMenu{
  width: 80%;
  height: auto;
  color: #355718;
}
.blurredBackground{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 201, 146, 0.5);
  filter: blur(8px);
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  flex-direction: column;
}
.subHeader{
  width: 80%;
  border-bottom: 2px solid;
  font-size: 52px;
  font-family: "Hezaedrus-regular";
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 5%;
  height: 52px;
}

.backButtonContainer{
  font-size: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton{
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 6px;
}

.productLineContainerBig{
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: "Hezaedrus-regular";
  font-size: 27px;
  border-bottom: 3px dotted;
  margin-bottom: 20px;
}

.productLineContainerPhone{
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: "Hezaedrus-regular";
  font-size: 20px;
  border-bottom: 3px dotted;
  margin-bottom: 20px;
}

.productsLinesContainer0{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer0::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer0::-webkit-scrollbar-track{
  background-color: hsl(27, 62%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer0::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(27, 62%, 35%);
}

.productsLinesContainer1{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer1::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer1::-webkit-scrollbar-track{
  background-color: hsl(92, 57%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer1::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(92, 57%, 35%);

}

.productsLinesContainer2{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer2::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer2::-webkit-scrollbar-track{
  background-color: hsl(222, 44%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer2::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(222, 44%,  35%);

}

.productsLinesContainer3{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer3::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer3::-webkit-scrollbar-track{
  background-color: hsl(90, 100%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer3::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(90, 100%, 35%);
}

.productsLinesContainer4{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer4::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer4::-webkit-scrollbar-track{
  background-color: hsl(48, 63%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer4::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(48, 63%, 35%);
}

.productsLinesContainer5{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70%;
  overflow: auto;
}
.productsLinesContainer5::-webkit-scrollbar{
  width: 10px;
  display: block;
}
.productsLinesContainer5::-webkit-scrollbar-track{
  background-color: hsl(0, 55%, 22%);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.productsLinesContainer5::-webkit-scrollbar-thumb{
  margin-right: 20px;
  border-radius: 10px;
  background-color: hsl(0, 55%, 35%);
}
